/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to right, #ffe3db, rgb(255, 255, 255));
  flex-wrap: wrap;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 50px;
  font-weight: 600;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.login-button, .signup-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.login-button {
  background-color: transparent;
  color: #000;
}

.login-button:hover {
  background-color: #6200ea;
  color: #fff;
}

.signup-button {
  background-color: #6200ea;
  color: #fff;
}

/* Responsive Design */

@media (max-width: 1024px) {
  .nav-links {
    gap: 40px;
  }

  .nav-links a {
    font-size: 0.9rem;
  }

  .login-button, .signup-button {
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .nav-links {
    gap: 30px;
  }

  .logo-text {
    font-size: 1.25rem;
  }

  .login-button, .signup-button {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .logo {
    height: 30px;
  }

  .logo-text {
    font-size: 1rem;
  }

  .nav-links {
    gap: 20px;
  }

  .nav-links a {
    font-size: 0.8rem;
  }

  .login-button, .signup-button {
    padding: 6px 10px;
    font-size: 0.8rem;
  }
}
